body {
	width: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    
    background-color: #21222B;
    overflow-y: scroll;
}   

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul,ol,li {
    margin: 0;
}

button {
    padding: 0;
    cursor: pointer;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.none {
	display: none;
}

.container {
    padding: 0 calc(30px + (240 - 30) * ((100vw - 1200px) / (1920 - 1200)));
}

// ШАБЛОН
// %name {
//     font-size: 18px;
// }

// @extend %name;


$window-width-max: 1920;
$window-width-min: 768;
$window-width-min-px: $window-width-min + px; 

@mixin fsize ($max, $min) {
    $number: $min + px;
    font-size: calc($number + ($max - $min) * ((100vw - $window-width-min-px) / ($window-width-max - $window-width-min)));
}

@mixin msize ($top,$right,$bottom,$left) {
    margin-top: calc(10px + ($top - 10) * ((100vw - $window-width-min-px) / ($window-width-max - $window-width-min)));
    margin-right: calc(10px + ($right - 10) * ((100vw - $window-width-min-px) / ($window-width-max - $window-width-min)));
    margin-bottom: calc(10px + ($bottom - 10) * ((100vw - $window-width-min-px) / ($window-width-max - $window-width-min)));
    margin-left: calc(10px + ($left - 10) * ((100vw - $window-width-min-px) / ($window-width-max - $window-width-min)));
    
}

@mixin psize ($top,$right,$bottom,$left) {
    padding-top: calc(10px + ($top - 10) * ((100vw - $window-width-min-px) / ($window-width-max - $window-width-min)));
    padding-right: calc(10px + ($right - 10) * ((100vw - $window-width-min-px) / ($window-width-max - $window-width-min)));
    padding-bottom: calc(10px + ($bottom - 10) * ((100vw - $window-width-min-px) / ($window-width-max - $window-width-min)));
    padding-left: calc(10px + ($left - 10) * ((100vw - $window-width-min-px) / ($window-width-max - $window-width-min)));
    
}

/* HEADER
========================================================================================*/

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.header__content {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
}

.header__content-right {
    display: flex;
    align-items: center;
}

.header__phone {
    margin-right: 52px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 121.9%;
    color: #FFFFFF;
}

.header__button {
    padding: 14px 45px;
}

.default-button {
    background-color: #DF4646;
    border: 0 solid transparent;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.header__nav {

}

.header__link {
    margin-right: 36px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;

    position: relative;
    top: -40px;
    right: -16.8%;

    &:last-of-type {

        margin-right: 0;
    }
}

/* INTRO
========================================================================================*/

.intro {
    background: url("../img/intro-bg.jpg") top no-repeat;
    padding-top: 202px;
}

.intro__decor-img {
    width: 327 / 1920 * 100%;
    position: absolute;
    right: 0;
    top: 266px;
    z-index: 3;
} 

.intro__top {

}

.intro__promo {
    padding: 13px 20px;
    margin-bottom: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #DF4646;
    background: rgba(223, 70, 70, 0.2);
    border-radius: 5px;
    display: inline-block;
}

.intro__title {
    margin-bottom: 112.5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 120%;
    color: #FFFFFF;

    & span {
        font-weight: 300;
        font-size: 46px;
    }
}

.intro__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro__content-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.intro__content-grid-item {
    width: 179px;
    margin-right: -30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #313241;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    transform: rotate(-16deg);

    position: relative;

    transition: background-color .3s, transform .3s;

    &:hover {
        background-color: #DF4646;
        transform: rotate(0deg);
    }
}

.intro__grid-item-img {
    position: absolute;

}

#intro__grid-item-img1 {
    top: -27.3%;
}

#intro__grid-item-img2 {
    top: -5.3%;
}

#intro__grid-item-img3 {
    top: -23.3%;
}

#intro__grid-item-img4 {
    top: -7.3%;
}

.intro__grid-item-text {
    padding: 118px 20px 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    color: #FFFFFF;
}

.intro__button-link {
    position: relative;
    top: -46px;
    z-index: 10;
}

.intro__pulse-button {
    width: calc(162px + (180 - 162) * ((100vw - 768px) / (1920 - 768)));
    height: calc(162px + (180 - 162) * ((100vw - 768px) / (1920 - 768)));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0 solid transparent;
    border-radius: 50%;
    background-color: #DF4646;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: relative;
    z-index: 2;

    &::after,
    &::before {
        width: inherit;
        height: inherit;
        content: "";
        position: absolute;
        border: 2px solid #DF4646;
        border-radius: 50%;
        opacity: 0;
        animation: pulse 3s linear infinite;
        z-index: 1;
    }

    &::before {
        animation-delay: 1.5s;
    }

}

@keyframes pulse {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.intro__pulse-button-img {
    margin-top: 10px;
}

.intro-bottom {
    margin-top: 131px;
    display: flex;
    justify-content: space-between;
    padding-right: calc(30px + (240 - 30) * ((100vw - 1200px) / (1920 - 1200)));
}
 
.intro__decor-img2 {
    width: 811 / 1920 * 100%;
    margin-right: 37px;

}

.intro__info {
    width: auto;
}

.intro__info-title {
    margin-bottom: 40px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    @include fsize(30, 24);
    line-height: 120%;
    color: #FFFFFF; 

    & span {
        font-weight: 300;
    }

    & span::before {
        content: "";
        height: 10px;
        display: inline-block;
    }
}

.intro__info-list {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    position: relative;
}

.intro__info-item {
    list-style: none;
    margin-bottom: 40px;

    &::before {
        content: "";
        width: 15px;
        height: 15px;
        display: block;
        background-color: #DF4646;
        transform: rotate(45deg) translate(50%, 0);
        position: absolute;
        left: 0;
    }
}

.intro__info-item-description {
    margin-top: 12px;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    opacity: 0.8;
}

.intro__info-item-wrapper {
    display: flex;
}

.intro__info-item-content {
    margin-top: 18px;
    margin-right: 60px;
    text-align: center;

    &:last-of-type {
        margin-right: 0;
    }

}

.intro__info-item-content-img {
    margin-bottom: 12px;
}

.intro__info-item-content-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    opacity: 0.8;
}

.intro__form {
    margin-bottom: 20px;
    padding: 18px 24px;
    background-color: #313241;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.intro__form-input {
    width: calc(200px + (272 - 200) * ((100vw - 1200px) / (1920 - 1200)));
    height: 50px;
    padding: 17px 0 17px 19px;
    border: 0 solid transparent;
    border-radius: 8px;
    background-color: #21222B;

    &::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #949494;
    }
}

.intro__form-button {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: calc(31px + (47 - 31) * ((100vw - 1200px) / (1920 - 1200)));
    padding-right: calc(31px + (47 - 31) * ((100vw - 1200px) / (1920 - 1200)));
}

/* QUALITY
========================================================================================*/

.quality {
    background: url("../img/quality-bg.jpg") center no-repeat;
    background-size: cover;
}

.quality__content {
    padding-top: 72px;
    padding-bottom: 80px;
    display: grid;
    grid-template-areas: 
    "A A C"
    "B B C";
}

.quality__content-text {
    font-family: 'Montserrat';
    font-style: normal;
    grid-area: A;
}

.quality__content-title {
    max-height: 133px;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    color: #21222B;

    & span {
        color: #DF4646;
    }
}

.quality__content-sub-title {
    margin: 18px 0 13px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #616161;
    opacity: 0.8;
}

.quality__content-sub-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;
    color: #3A3838;
    opacity: 0.8;
}

.quality__side-content {
    @include msize(0, 0, 0, 97);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    @include fsize(100, 80);
    line-height: 122px;
    color: #BEBEBE;
    grid-area: C;

}

.quality__side-content-wrapper {
    margin-bottom: 33px;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.quality__side-content-text {

    & span {
        font-weight: 700;
        font-size: 34px;
        line-height: 41px;
    }

}

.quality__side-content-sub-text {
    font-weight: 400;
    @include fsize(20, 14);
    line-height: 24px;
}

.quality__content-grid {
    margin-top: 30px;
    grid-area: B;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 18px;
    column-gap: 20px;
}

.quality__content-grid-item {
    padding: 24px 30px 28px;
    background-color: #313241;
    border-radius: 8px;
}

.quality__content-grid-item-top {
    margin-bottom: 20px;
    display: flex;
}

.quality__content-grid-item-img {
    margin-right: 24px;
}

.quality__content-grid-item-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.quality__content-grid-item-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 0.8;
}
.quality__content-grid-item--last {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(223, 70, 70, 0.2);

}
.quality__content-grid-last-item-arrow {
    margin-bottom: 16px;
} 

.quality__content-grid-last-item-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #DF4646;
}

/* QUALITY-SLIDER
========================================================================================*/

.quality-slider {
    padding-top: calc(60px + (93 - 60) * ((100vw - 1200px) / (1920 - 1200)));
    background-color: #21222B;
    margin-bottom: 54px;
}

@media screen and (max-width: 1200px) { 
    .quality-slider {
        padding-top: 60px;
    }
}

.quality-slider__wrapper {
    margin-bottom: 40px;
}

.default-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;

    & span {
        color: #DF4646;;
    }
}

.quality-slider__title {
}

.default-sub-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 140%;
    color: #FFFFFF;
    opacity: 0.8;

    & span {
        font-weight: 500;
    }
}

.quality-slider__text {
}

.quality-slider__sub-slider-wrapper {
    width: 100%;
    overflow: hidden;
}

.quality-slider__sub-slider {
    width: 1420px;
    margin-bottom: 20px;
    display: flex;
    position: relative;

    &::after {
        content: "";
        width: 1420px    ;
        border: 2px solid #5F5F5F;
        border-radius: 3px;
        display: block;
        position: absolute;
        top: 50%;
    }

}
 
.quality-slider__sub-slider-worm {
    width: 142px;
    border: 2px solid #DF4646;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 5;
    transition: left .2s;
}

.quality-slider__sub-slide {
    width: 142px;

    &.quality-slider__sub-slide--active .quality-slider__sub-slide-text {
        font-weight: 500;
        opacity: 1;
    }
}

.quality-slider__sub-slide-text {
    height: 34px;
    margin-bottom: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
    position: relative;

    transition: opacity .3s, font-weight .3s;
}

.quality-slider__sub-slide-number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #3B3D4A;
}

.quality-slider__slider {
    display: flex;
    align-items: center;

}

.quality-slider__slider-img {
    margin-right: 20px;
    transition: opacity .3s;

}

.quality-slider__slider-right {
}

.quality-slider__slider-right-description {
    margin-bottom: 50px;
}

.quality-slider__slider-right-stage {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #DF4646;
    background-color: rgba(223, 70, 70, 0.2);
    border-radius: 5px;
    display: inline-block;
    transition: opacity .3s;
}

.quality-slider__slider-right-title {
    margin-bottom: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
    transition: opacity .3s;
}

.quality-slider__slider-right-text {
    min-height: 116px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.8;
    transition: opacity .3s;
}

.quality-slider__slider-nav {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.quality-slider__slider-button {
    width: 42px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0 solid transparent;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;

    transition: opacity .3s;
}

.quality-slider__slider-button--left {

}

.quality-slider__slider-button-arrow {
}

.quality-slider__slider-button-arrow--left {
    transform: rotate(180deg);
}

.quality-slider__slider-button--disabled {
    opacity: 0.2;
    cursor: auto;
}


.quality-slider__slider-counter-dynamic {
    margin-left: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
}

.quality-slider__slider-counter-static {
    margin-right: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
    opacity: 0.6;
}

.quality-slider__slider-button--right {
}

.quality-slider__slider-button-arrow--right {
}

/* GUARANTEE
========================================================================================*/

.guarantee {
    background: url("../img/guarantee-bg.jpg") center no-repeat;
    background-size: cover;
}
.guarantee__wrapper {
    padding-top: 37px;
    padding-bottom: calc(175px + (263 - 175) * ((100vw - 1200px) / (1920 - 1200)));
    position: relative;
    overflow: hidden;
}

.guarantee__title {
    margin-bottom: 19px;
}

.guarantee__sub-title {
}

.guarantee-content {
    display: flex;
    align-items: center;

}

.guarantee-content-text {
    width: calc(327px + (345 - 327) * ((100vw - 1200px) / (1920 - 1200)));
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    @include fsize(24, 14);
    line-height: 120%;
    color: #FFFFFF;
    opacity: 0.8;
}

.guarantee-content-period {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    @include fsize(420, 220);
    line-height: 120%;
    color: #DF4646;
}

.guarantee__decor-img {
    width: 686 / 1920 * 100%;
    position: absolute;
    right: -200px;
    bottom: 210 / 900 * 100%;
    z-index: 1;
}

/* QUALITY-SLIDER
========================================================================================*/

